<div class="row">

  <div class="col -12">
    <form #createBlogForm="ngForm" (ngSubmit)="getCharacterData()">
      <div class="form-group form-css">
        <input type="text" name="CharacterName" [(ngModel)]="characterName" #name="ngModel" class="form-control"
          placeholder="Name of the character" required><br />
        <button type="submit" class="btn btn-success" [disabled]="!createBlogForm.form.valid">Search</button>
      </div>
    </form>
  </div>
</div>




<div class="row" *ngIf="characterData">
  <div *ngFor="let character of characterData" class="col-md-4" id="mouseover-effect">
    <div class="card cardContainer" style="width: 22rem;">
      <img class="card-img-top" src="../../characters.jpg" alt="Characters image">
      <div class="card-body">
          <h6 class="card-title"><b>Character: </b> {{character.name}}</h6>
          <p class="card-text"> 
                   <b>Gender:  </b>  <i>{{character.gender}}</i>
             <br/>  <b>Born: </b>   <i>{{character.born}}</i>
             <br/>  <b>Culture:  </b> <i>{{character.culture}}</i>
          </p>
        <a [routerLink]="['/character',character.url]" class="btn btn-primary">More</a>
      </div>
    </div>
    <br />
  </div>

</div>