<div class="row">
  <div class="col -12"*ngIf="characterData">
      <ul class="list-group">
          <li class="list-group-item list-group-item-action list-group-item-primary"><b>Name:  </b> <i>{{characterData.name}}</i></li>
          <li class="list-group-item list-group-item-action list-group-item-primary"><b>Gender: </b><i>{{characterData.gender}}</i></li>
          <li class="list-group-item list-group-item-action list-group-item-primary"><b>Culture:</b> <i>{{characterData.culture}}</i></li>
          <li class="list-group-item list-group-item-action list-group-item-primary"><b>Born: </b>   <i>{{characterData.born}}</i></li>
          <li class="list-group-item list-group-item-action list-group-item-primary"><b>Titles: </b> <i>{{characterData.titles.toString()}}</i></li>
          <li class="list-group-item list-group-item-action list-group-item-primary"><b>Played By:  </b> <i>{{characterData.playedBy}} </i></li>
        </ul>
        <br/>
        <button type="button" class="btn btn-danger" (click)="goBack()">Go Back</button>
  </div>
</div>